body{
   
    font-family: cursive;
}
.form-container{
display: flex;
justify-content: center;
align-self: center;
width:20px auto;
margin-left:27%;
margin-right: 23%;
margin-top: -6%;
margin-bottom: 4%;



}
.form-title{
    margin-left: -3%;
    font-size: 48px;
    color:black;
    
}

.myform{
    padding:16px;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    row-gap: 8px;
    width:35vw;
    margin-top: 120px;
    background-color:rgba(7, 7, 7, 0.7);
    border-radius:24px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    
    
    
}
.form-control{
    border:1px solid rgb(247, 246, 246);
    background: transparent;
    background-color:rgba(252, 251, 251,1) ;
    border-radius:8px ;
    padding:14px;
    width:100%;
    font-size:20px;
    color:black;
    border-top: none;
}
::placeholder{
    color:black;
    font-family: cursive;
}




.button{
width:23.6vw;
padding-inline:px;
height:3em;
border:none;
border-radius:14px;
background: transparent;
background-color: rgba(7, 7, 7, 0.8);
font-size: 20px;
font-family: cursive;
color:rgba(250, 246, 246, 0.973);
}

.button:hover{
    width:23.6vw;
    padding-inline:px;
    height:3em;
    border:none;
    border-radius:14px;
    background-color: rgba(7, 7, 7, 1);
    font-size: 20px;
    color:rgba(250, 246, 246, 0.973);
    }

    #btn{
        width:23.6vw;
        padding-inline:px;
        height:3em;
        border:none;
        border-radius:14px;
        font-size: 20px;
        font-family: cursive;
        color:rgba(250, 246, 246, 0.973);
        }
        #btn:hover{
            width:23.6vw;
            padding-inline:px;
            height:3em;
            border:none;
            border-radius:14px;
            background-color: rgb(33, 126, 56);
            font-size: 20px;
            color:rgba(250, 246, 246, 0.973);
            }
        
    #nav-item{
        display: block;
        height: 615px;;
        width: 19%; 
        position: fixed;
        overflow: auto;
        text-align: center;
              
    }
    li a{
        color: white;
    }
    #content{
        margin-left: 19%;
    
    }
    #nav-bar{
        position: static;
    }

    .patientform-container{
        display: flex;
        justify-content: center;
        align-self: center;
        width:20px auto;
        margin-left:26%;
        margin-right: 44%;
        margin-top: 8%;
        margin-bottom: 4%;
        
        
        
        }